
.queue-view {

	.current-track {
		text-align: center;
		padding: 40px 20px 10px;

		.title,
		.artist-sentence {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.title {
			padding-top: 20px;
		}

		.artist-sentence {
			opacity: 0.5;
		}

		.artwork {
			position: relative;
			display: block;
			max-width: 400px;
			margin: 0 auto;
			border: 0 !important;

			.thumbnail {
				max-width: none;
			}

			&.radio-enabled {
				.thumbnail {
					box-sizing: border-box;
					padding: 10%;
				}

				.radio-overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					z-index: 2;
				}
			}
		}
	}

	.radio {
		margin: 20px auto 0;
		padding: 10px 12px;
		max-width: 400px;
		background: $faint_grey;
		box-sizing: border-box;
	}
}